<div class="container">
  <h1>Hãy hỏi cộng đồng một câu đúng/sai có/không!</h1>

  <form>
    <div class='form-group' method="post" action="/api/question">
      <input class='form-control' rows="6" placeholder="" name ="quest" autofocus required>
    </div>
    <p class="help-block">Còn 200/200 ký tự</p>
    <div >
      <input class='btn btn-primary' type='submit' value="Gửi">
    </div>
  </form>
</div>
