.menu {
  background: #D5B0AC;
  color: #402E2A;
  font-style: bold;
  text-align: center;
}
.menu span {
  display: inline-block;
  width: 100px;
  height:30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.menu span:hover {
  background: #9CD08F;
  color:#FFFFFF;
  cursor: pointer;
}
.menu-vertical {
  margin-top: 10px;
  width: 100px;
}
.menu-vertical span{
  height:17px;
  border-bottom: 1px solid #fff5f5;
}
