<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>quyết đê</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
      <nav class='navbar navbar-inverse navbar-static-top'>
        <div class='container-fluid'>
          <div class='navbar-header'>
            <button data-target='#item' data-toggle='collapse' class='navbar-toggle'>
              <span class='sr-only'>a</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>

            <a class='navbar-brand'>Quyết.đê!</a>
          </div>

          <div class='navbar-collapse collapse' id='item'>
            <ul class='nav navbar-nav'>
              <li class="active"><a href="/ask">Hỏi Nhanh</a></li>
              <li><a href="/question">Đáp gọn</a></li>
            </ul>
        </div>
      </nav>
      <div class="jumbotron">
        {{{body}}}
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
